<input [(ngModel)]="query" style="width: 300px;"/>

<button (click)="search()">Search</button>

<div>
  results:
  {{results | json}}
</div>

<div style="color: red" *ngIf="error">
  error:
  {{error | json}}
</div>

<div>
  <br />
  <p><label>Query entity:</label> <b>name == 'entity 1'</b></p>

  <p><label>Query nested entity:</label> <b>nestedEntity.description == 'nested entity 2'</b></p>

  <p><label>Logical expressions:</label> <b>name == 'entity 1' and nestedEntity.description == 'nested entity 1'</b></p>
</div>
